<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新闻详情</title>
    <link rel="stylesheet" href="./lib/css/base.css">
    <!-- <link rel="stylesheet" href="./lib/css/jquery.fullPage.css"> -->
    <link rel="stylesheet" href="./css/newsdetail.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/header.css">
    <style>
        .newsdetail-connect .connect div img{
            width: 100%;
            height:450px;
        }
        .newsdetail-info .connect div{
            text-align: center;
            margin: 15px 100px 20px 100px;
        }
        .newsdetail-info .connect p{
            color: #666666;
            font-size: 16px;
            text-indent: 2em;
            letter-spacing: 2px;
            margin: 5px 100px 0px 100px;
        }
        .newsdetail-info .connect h3{
            margin: 5px 100px 0px 100px;
        }
    </style>
</head>
<body>
    <div class="newsdetail">
            <div class="newsdetail-bg" style="background-image: url('./img/messting-img/banner_news.jpg')">
                   <!-- 背景 -->
            </div>
            <div class="newsdetail-connect">
                    <div class="newsdetail-info">
                            <div class="title">
                                    <h2>西乌珠穆沁旗民俗文化和生态旅游</h2>
                                    <div class="auteh">
                                        <span class="ti">
                                                文：白桦树2008
                                        </span>
                                        <span class="time">
                                                发布时间：2018-12-23
                                        </span>
                                    </div>
                            </div>
                            <div class="connect">
                                <!-- <div>
                                        <img src="../img/tour01.jpg" alt="">
                                </div>
                                <p>
                                        美丽富饶的西乌珠穆沁旗，位于锡林郭勒盟大草原东部，是世界四大草原之一——锡林郭勒草原的典型区域，是唯一汇集内蒙古九大类型草原的地区，也是蒙古族文化习俗保存最完整的地区。
                                </p>
                                <div>
                                        <img src="../img/tour02.jpg" alt="">
                                </div>
                                <p>
                                        党的十八大以来，西乌珠穆沁旗以经济发展和生态保护共赢为目标，努力培育生态经济新活力，秀丽壮美的草原风景、民俗风情浓郁的多彩文化成为西乌珠穆沁旗发展旅游产业的优势资源，旅游这一绿色产业使乌珠穆沁大草原的生态功能、经济功能和文化传承功能前所未有地实现了有机统一、融合发展。
                                </p>
                                <div>
                                        <img src="../img/tour03.jpg" alt="">
                                </div>
                                
                                <h3>品牌赛事激情领唱草原旅游四季歌</h3>
                                <p>
                                        在成功举办了挑战吉尼斯世界纪录“2048名搏克大赛”、挑战吉尼斯世界纪录800匹蒙古马“阿吉乃”大赛暨蒙古族马文化节、挑战吉尼斯世界纪录1000人射箭大赛的基础上，西乌珠穆沁旗不断创新活动载体，2006年开始举办“多彩西乌珠穆沁——草原民俗风情节”“银色西乌珠穆沁——草原冰雪嘉年华”两大品牌文体旅游活动。
                                </p>

                                <div>
                                        <img src="../img/tour04.jpg" alt="">
                                </div>
                                <p>
                                        该旗还连年举办中国草原大赛马、中国铁木真国际草原山地车挑战赛、中国铁木真国际草原马拉松挑战赛和中国铁木真国际越野滑雪精英赛等“四项文体赛事”，大批国内外优秀运动员、国内外游客齐聚西乌草原，赛事精彩纷呈。
                                </p>
                                <div>
                                        <img src="../img/tour05.jpg" alt="">
                                </div>
                                <p>
                                        此外，该旗着力发挥“中国白马之乡”和“中国十大最美乡村—脑干宝力格”两大优势，加快推进草原文化与旅游业深度融合发展，把西乌珠穆沁旗建设成为以草原风光、民俗风情为核心、以草原冰雪旅游和草原体育竞赛节庆文化为两翼，包含“草原观光、休闲、度假”三位一体的综合型旅游目的地，持续打造“多彩草原、乐在西乌”品牌。
                                </p>
                                <p>
                                        实行政府投入和引进社会资本政策，加快推进苏力德乌珠穆沁文化产业园区建设，以4A级乌兰五台景区为示范，推动遥鲁海日汗、蒙古汗城、游牧部落、成吉思汗瞭望山、哈布其盖景区提档升级，形成有全国知名度的品牌景区景点。
                                </p>
                                <div>
                                    <img src="../img/tour06.jpg" alt="">
                                </div>
                                <p>目前，全旗共有景区15个，其中4A级旅游景区2个，三星级宾馆3家，旅游定点宾馆6家，特色民族餐饮6家，家庭旅馆100多家，建成了西乌旗民族商品一条街，已经具备旅游业发展相适应的旅游服务体系。2016年全旗共接待国内外游客80万人次，旅游收入4万亿，旅游业已步入持续稳定、快速发展的轨道。</p>
                                <div>
                                        <img src="../img/tour07.jpg" alt="">
                                </div>
                                <h3>为青山绿水注入文化的灵魂</h3>
                                <p>五年来，西乌珠穆沁旗政府邀请人类学、民族学、民族节庆、旅游等学科领域的专家学者，对该旗旅游业现状进行深刻分析，为西乌珠穆沁旗旅游业的繁荣发展出谋划策。同时加大与周边旗县的合作，发展壮大文化旅游产业，力争将旅游业做大做强。</p>
                                <p>该旗力争以蒙古白马文化为支撑，以最美乡村为品牌，以游牧草原文化为基础，围绕“吃、住、行、游、购、娱”六大要素，加大旅游促销力度，大力增加旅游文化产业收入。</p>
                                <div>
                                        <img src="../img/tour08.jpg" alt="">
                                </div>
                                <p>民族文化表演业方面，不仅出现了业余乌兰牧骑、礼仪队、牧民自发创建的乐队组合、表演团队，还涌现出了斯琴格日勒、斯其格玛等一批优秀的牧民歌手，牧人们摇身变成了舞台上的歌手、舞蹈家、器乐手、主持人。特别是民族商品展、蒙古族女士技艺赛、民族服装表演、民族工艺品制作大赛为民族商品搭建交流展示平台，越来越多的人参与到民族手工艺品加工这个行业当中。烤全羊、烤羊腿、烤羊背、炒米、奶茶、手扒肉、奶豆腐、羊血肠、马奶、牛奶酒等独具地方特色的餐饮深受各地游客的喜爱。有一部分牧民更是在自家门口搭起了蒙古包，开起了“牧人之家”旅游点。游客在这里可以品尝到草原特色美食，还可以观赏和参与到射箭、赛马、摔跤等蒙古族传统比赛项目，“牧人之家”越办越火，如今已达120多家。旅游业已成为该旗促进吸纳劳动就业，推动了牧民增收的重要渠道。</p>
                                <h3>描绘草原生态旅游新画卷</h3>
                                <p>西乌珠穆沁旗旅游产业由小到大，由弱到强，灵动着无限的生机与潜力，旅游名县的轮廓日益清晰，“中国优秀旅游名县”“中国优秀旅游目的地”“中国最佳休闲旅游目的地”等一项又一项行业冠名，“多彩乌珠穆沁—草原风情节”成功摘得“最具国际影响力节庆”桂冠，无不见证着该旗草原旅游业的开拓性成就，更勾勒出草原生态旅游经济的美好明天。</p>
                                <div>
                                        <img src="../img/tour09.jpg" alt="">
                                </div>
                                <h3>  2017年，西乌珠穆沁旗依托丰富的旅游资源，精心打造了6条精品线路：</h3>
                                <p>
                                        一是草原风光民俗风情之旅：乌兰五台—成吉思汗瞭望山—蒙古汗城—游牧部落；二是旅游特色名镇之旅：阿斯哈图石林—浩勒图高勒镇旅游特色名镇—游牧部落——蒙古汗城；
                                        三是中国最美乡村之旅：海青坝—遥鲁海日罕山— “中国十大最美乡村”脑干宝力格嘎查—巴拉嘎尔高勒镇；四是乌珠穆沁白马文化之旅：乌里雅斯太景区—白马文华体验区—哈布其盖漂流度假村—苏力德文化产业园；五是红色文化之旅：乌拉盖—高日罕山景区(知青文化、水库)—东部联合旗红色文化教育基地—巴拉嘎尔高勒镇；六是健康养生之旅：乌兰五台景区(佛教圣地)—巴拉嘎尔高勒镇阿吉太泰生园—古日格斯台自然保护区。提升景区内基础设施水平，丰富文化内涵，提升文化吸引力。
                                </p>
                                <p>
                                        与此同时，加快做好乡村旅游规划设计，对乌兰哈拉嘎、高日罕、苏力德文化博物院、浩勒图高勒、巴彦花等苏木镇进行整体设计，利用庙宇、湖泊水系、草原林区景点文化，体现蒙古族文化和牧区生活体验，为自驾游游客提供乡村文化的体验基地，真正使草原文化旅游开发有大变化，成为富民经济、创新发展的新动能。
                                </p> -->
                           </div>
                </div>
            </div>
    </div>
    <script src="./lib/js/jquery-1.8.3.min.js"></script>
    <!-- <script src="./js/common_detail.js"></script> -->
    <script src="./js/public.js"></script>
    <script src="./js/common.js"></script>
    <!-- <script src="./lib/js/jquery.fullPage.min.js"></script> -->
    <script>
        getdata()
        $(function(){
           var width = $(".newsdetail .newsdetail-bg").width()
           $(".newsdetail .newsdetail-bg").height(width*0.312)
        })
        function getdata(){
                var id = location.search.replace('?','').split('=')[1]
                    $.ajax({
                        type: 'get',
                        url: CURRENCY_HOST + "/auth/website/getNewsById?id="+id+"",
                        contentType: 'application/json',
                        success: function(result, text, request) {
                        var result = JSON.parse(result)
                        if (result.success) {
                                            $('.newsdetail-info .connect').append(result.data.content)
                                            $('.newsdetail-info .title .auteh .ti').text('文:'+result.data.author)
                                            $('.newsdetail-info .title .auteh .time').text('发布时间：'+formarttime(result.data.publishtime))
                                            $('.newsdetail-info .title h2').text(result.data.title)
                                            // $('header .banlan li .user span').text(result.data.name)
                                    } else {
                                            alert(result.msg);
                                    }
                    }
                })
        }

    </script>
</body>
</html>