<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="./lib/css/base.css">
    <!-- <link rel="stylesheet" href="./lib/css/jquery.fullPage.css"> -->
    <link rel="stylesheet" href="./lib/css/fullpage.css">
    <!-- <link rel="stylesheet" href="./lib/css/bootstrap.css"> -->
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/common.css">
</head>
<body>
        <div class="home-video" id="videoHome">
                <div class="tiaoguo">
                        <span>
                                跳过
                        </span>            
                </div>
                <video id="homeVideo" autoplay muted>
                        <source src="./img/mp4/play2.mp4" id="vidourl"  type="video/mp4">                
                </video>
                
                <!-- <audio  id="media" src="" 
                        autoplay preload loop="loop" controls></audio> -->
                
        </div> 
    <div class="index" id="dowebok">
               
            <div class="section section-one" data-anchor="section-one" id="blann">
                           
                    <!-- <header>
                        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                                    <div class="container">
                                      <div class="container-fluid">
                    
                                        <div class="navbar-header">
                                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                          </button>
                                          <a class="navbar-brand" href="#"><img src="./img/logo.jpg" alt="" style="margin-top: -13px;"></a>
                                        </div>
                                     
                                        <div class="collapse navbar-collapse js-navbar-scrollspy" id="bs-example-navbar-collapse-1">
                                          <ul class="nav navbar-nav navbar-right">
                                            <li class="active"><a href="#home">走进锡林</a></li>
                                            <li><a href="#services">科技创新</a></li>
                                            <li><a href="#about">公司新闻</a></li>
                                            <li><a href="#portfolio">工业旅游</a></li>
                                            <li><a href="#contact">社会责任</a></li>
                                            <li><a href="#contact">党群建设</a></li>
                                            <li><a href="#contact">内部交流</a></li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                         </nav> 
                        </header> -->
                        <header class="header fixed-top"> 
                                        <div class="header-box"> 
                                        <div class="logo"><a href="./index.html"><img src="./img/logo.jpg" alt=""></a></div> 
                                        <ul class="nav-list"> 
                                        <div class="nav-item"><a class="as" href="./index.html#section-two">走进锡林</a></div> 
                                        <div class="nav-item"><a class="as" href="./index.html#section-three">科技创新</a></div> 
                                        <div class="nav-item" id="recommend-nav"> <a class="as" href="./news.html">公司新闻</a> </div> 
                                        <div class="nav-item" id="advantage-nav"> 
                                                <a class="as" href="./industrialtourism.html">工业旅游</a> 
                                                <div class="mask"></div> 
                                                <div class="sub-nav"> 
                                                        <ul class="sub-nav-list"> 
                                                                <li><a href="./industrialtourism.html#section-two">游览专线</a></li>
                                                                <li><a href="./booktavern.html">酒店预订</a></li> 
                                                                <li><a href="./meeting.html">会议服务</a></li>  
                                                        </ul> 
                                                </div> 
                                        </div> 
                                        <div class="nav-item"><a class="as" href="./social.html">社会责任</a></div> 
                                        <div class="nav-item"><a class="as" href="./PartyMemberNews.html">党群建设</a></div> 
                                        <div class="nav-item"><a class="as" href="./communion.html">内部交流</a></div> 

                                        <div class="nav-item">
                                                <div id="audio_btn" class="rotate">
                                                        <audio loop src="./img/mp4/myChine.mp3" id="media" autoplay=""  preload=""></audio>
                                                </div>
                                        </div> 
                                        </ul>       
                                 </div> 
                        </header>

                    <!-- <div class="slide">
                              
                    </div>
                    <div class="slide">
                           
                    </div>-->
                    <!-- <div class="slide">
                             
                    </div>  -->
                    <footer>
                        <!-- <div class="mask-left">

                        </div>
                        <div class="mask-right">

                        </div> -->
                        <div class="mask">
                               
                         </div>
                    </footer>
            </div>
            <div class="section section-two" data-anchor="section-two">
                <div class="Waltinto">
                        <div class="title">
                                <hgroup><h1>走进锡林</h1><h6>Walk into Xilin</h6></hgroup>
                        </div>
                        <div class="Waltinto-connect">
                                <!-- <div class="Waltinto-connect-item">
                                        <div class="img">
                                                <img src="./img/walk01.jpg" alt="">
                                        </div>
                                        <div class="text">
                                                <hgroup><h3>京能(锡林郭勒)发电有限公司简介</h3><h6 title="京能（锡林郭勒）发电有限公司于2016年10月26日由内蒙古京能锡林发电有限公司变更而来，是由北京京能电力股份有限公司和华润电力">京能（锡林郭勒）发电有限公司于2016年10月26日由内蒙古京能锡林发电有限公司变更而来，是由北京京能电力股份有限公司和华润电力</h6></hgroup>
                                        </div>
                                        <div class="btn">
                                                <a href="./detail/WalkintoXilin_detail01.html">
                                                        查看详情
                                                </a>
                                        </div>  
                                </div>
                                <div class="Waltinto-connect-item">
                                        <div class="img">
                                                <img src="./img/walk02.jpg" alt="">
                                        </div>
                                        <div class="text">
                                                <hgroup><h3>百年大计 质量第一</h3><h6 title="本工程质量管理总体思路是坚决贯彻“百年大计，质量第一”的方针，严格执行国家、行业和企业有关质量法规、规程、规范、导则和规定。公司获得中国施工企业管理协会2018年工程建设优秀质量管理小组一等奖1项、中国电力建设企业协会2018年电力建设优秀质量管理QC成果奖一等奖2项、二等奖3项。">本工程质量管理总体思路是坚决贯彻“百年大计，质量第一”的方针，严格执行国家、行业和企业有关质量法规、规程、规范、导则和规定。</h6></hgroup>
                                        </div>
                                        <div class="btn">
                                                <a href="javascript:;">
                                                        查看详情
                                                </a>
                                        </div>    
                                </div>
                                <div class="Waltinto-connect-item">
                                        <div class="img">
                                                <img src="./img/walk03.jpg" alt="">
                                        </div>
                                        <div class="text">
                                                <hgroup><h3>实践与探索</h3><h6 title="实践与探索——创新发展模式提升产值效率，全力打造集约化生产体系">实践与探索——创新发展模式提升产值效率，全力打造集约化生产体系&nbsp;&nbsp;&nbsp;&nbsp;</h6></hgroup>
                                        </div>
                                        <div class="btn">
                                                <a href="javascript:;">
                                                        查看详情
                                                </a>
                                        </div>
                                        
                                </div> -->
                        </div>
                        <div class="more">
                                <!-- <a href="#">查看更多</a> -->
                        </div>
                </div>
            </div>
            <div class="section section-three" data-anchor="section-three" id="technological">
                        <!-- <div class="slide">
                                        <div class="technological">
                                                        <div class="title">
                                                                <hgroup><h1>科技创新</h1><h6>technological innovation</h6></hgroup>
                                                        </div>
                                                        <div class="technological-connect">
                                                            <div class="img">
                                                                   <img src="./img/area.png" alt="">
                                                            </div>
                                                            <div class="text">
                                                                <hgroup>
                                                                        <h3>专利介绍</h3>
                                                                        <h6>公司已获得一种机炉集合热能循环余热回用系统、一种烟气冷凝提水系统2项发明专利和一种圆烟道膨胀节、
                                                                        一种带有回程槽管结构的带式输送机、一种中压开关DCS远程可视停送电及诊断系统、
                                                                        一种四路电源供电的低压保安电源自动切换装置、一种新型磨煤机惰化系统、一种伸缩式空心锥喷砂头等17项实用新型专利</h6>
                                                                </hgroup>
                                                                <div class="btn">
                                                                                <a href="./detail/technological_detail.html">
                                                                                        查看更多
                                                                                </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                        </div>
                        </div> -->
                    
            </div>

            <div class="section footer fp-auto-height" >
                <hgroup class="foo">
                        <h5>Copyright © www.AxureUX.com, All Rights Reserved</h5>
                        <h5>京能（锡林郭勒）发电有限公司  Email:xilinpower@.com  tel:0479-6978000</h5>
                </hgroup>
            </div>
    </div>
    <script src="./lib/js/jquery-1.8.3.min.js"></script>
    <!-- <script src="./lib/js/jquery.fullPage.min.js"></script> -->
    <script src="./lib/js/fullpage.js"></script>
    <!-- <script src="./js/public.js"></script> -->
    <script src="./js/common.js"></script>
    <script>
        // setTimeout(function(){
                
        // },200)
        var vidoUrl='';
        var mp3Url='';
        function initfullpage(){
                $('#dowebok').fullpage({
                verticalCentered:false,
                resize:true,
                sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE', '#383838'],
                anchors: ['section-one', 'section-two', 'section-three','section-four'],
                afterLoad: function(anchorLink, index){
                
                },
                scrollingSpeed: 1400,
                });
                $('.section-one .fp-controlArrow.fp-next').css('opacity','0')
                $('.section-one .fp-controlArrow.fp-prev').css('opacity','0')
                $('.section-one .fp-controlArrow.fp-next').on('mouseover',function(){
                        $('.section-one .fp-controlArrow.fp-next').css('opacity','1')
                        $('.section-one .fp-controlArrow.fp-prev').css('opacity','1')
                })
                
                $('.section-one .fp-controlArrow.fp-prev').on('mouseover',function(){
                        $('.section-one .fp-controlArrow.fp-prev').css('opacity','1')
                        $('.section-one .fp-controlArrow.fp-next').css('opacity','1')
                })
                $('.section-one .fp-controlArrow.fp-next').on('mouseout',function(){
                        $('.section-one .fp-controlArrow.fp-next').css('opacity','0')
                        $('.section-one .fp-controlArrow.fp-prev').css('opacity','0')
                })
                
                $('.section-one .fp-controlArrow.fp-prev').on('mouseout',function(){
                        $('.section-one .fp-controlArrow.fp-prev').css('opacity','0')
                        $('.section-one .fp-controlArrow.fp-next').css('opacity','0')
                })
                $('.mask').on('click',function(){
                        $.fn.fullpage.moveSectionDown();
                })  
                setInterval(function(){
                        $.fn.fullpage.moveSlideRight();
                },8000);
        }
      
        function dele(){  
                var parent=document.getElementById("videoHome");
                var child=document.getElementById("media");
                parent.removeChild(child);
        }
        function add(){
                var text = "<embed src='./img/mp4/play2.mp4' hidden='true' id='media' autostart='true' loop='true'>"
                $(".home-video").append(text)         
        }
        var x = document.getElementById("media")
        var video = document.getElementById("homeVideo"); 
        var vidourl = document.getElementById('vidourl')
        $(function(){
                setTimeout(function(){
                // vidourl.src=vidoUrl
                // video.load()   
                x.src = mp3Url
                     
                $("#audio_btn").click(function(){
                                $(this).toggleClass("rotate");        
                                if($(this).hasClass("rotate")){
                                x.play()
                        }else{
                                x.pause()
                        }
                })
                x.pause();
                add()
                $('.home-video').height(window.innerHeight);
                        $(window).resize(function() {
                        $('.home-video').attr('height', window.innerHeight);
                        $('.home-video').attr('width', window.innerWidth);
                });

                document.getElementById('homeVideo').play();
                var value = sessionStorage.getItem("value")
                if(!value){
                        document.getElementById('homeVideo').play();
                        var time=setInterval(function(){
                        clearInterval(time)
                                $('.home-video').hide();
                                x.play();
                        },31000)
                        sessionStorage.setItem("value","true")
                        setCount()
                }else {
                        x.play();
                        dele();
                        $('.tiaoguo').hide();
                        $('.home-video').hide();
                        document.getElementById('homeVideo').pause();  
                }


                $(".tiaoguo span").on("click",function(){
                        x.play();
                        dele();
                        document.getElementById('homeVideo').pause();
                        $('.home-video').hide();
                        sessionStorage.setItem("value","true")
                })
                },150)
               
                // $('.fp-controlArrow.fp-prev').on('mouseout',function(){
                //         console.log(2121)
                //         $('.fp-controlArrow.fp-prev').hide()
                //         $('.fp-controlArrow.fp-next').hide()
                // })
                // $('.fp-controlArrow.fp-next').on('mouseout',function(){
                //         console.log(2121)
                //         $('.fp-controlArrow.fp-prev').hide()
                //         $('.fp-controlArrow.fp-next').hide()
                // })
                // $('.fp-controlArrow.fp-prev').on('mouseover',function(){
                //         $('.fp-controlArrow.fp-prev').show();
                //         $('.fp-controlArrow.fp-next').show();
                // })
                // $('.fp-controlArrow.fp-next').on('mouseover',function(){
                //         $('.fp-controlArrow.fp-prev').show();
                //         $('.fp-controlArrow.fp-next').show();
                // })
           })
           getbannlanData()
           getMedioData()
           WalkintoXilinData()
           technologicalinnovationData()
           function getbannlanData(){
                $.ajax({
			type: 'get',
			url: CURRENCY_HOST + '/auth/website/getCarouses?type=1',
			contentType: 'application/json',
			success: function(result, text, request) {
			var result = JSON.parse(result)
			if (result.success) {
                                var data = result.data
                                // console.log(data)
                                for(var i=0;i<data.length;i++){
                                        $('#blann').append(
                                                ["  <div class=\"slide\" style=\"background-image: url(\'"+data[i].picPath+"\');\"></div>"].join("")
                                        )
                                }
                        } else {
                                alert(result.msg);
                        }
		  }
            }) 
         }
        // ?pageNumber=1&pageSize=13&startdate=&enddate=&title=&type=1
         function WalkintoXilinData(){
                $.ajax({
			type: 'get',
			url: CURRENCY_HOST + '/auth/website/getList?type=1&status=2&isTimeDesc=1',
			contentType: 'application/json',
			success: function(result, text, request) {
			var result = JSON.parse(result)
			if (result.success) {
                                renderWalkintoXilin(result.data.result)
                        } else {
                                alert(result.msg);
                        }
		  }
                })
         }

         function setCount(){
                $.ajax({
			type: 'get',
			url: CURRENCY_HOST + '/auth/website/setCount',
			contentType: 'application/json',
			success: function(result, text, request) {
			var result = JSON.parse(result)
			if (result.success) {
                               console.log(result)
                        } else {
                                alert(result.msg);
                        }
		  }
                })
         }
         function renderWalkintoXilin(data){
                var doc = $('.Waltinto-connect')
                for(var i=0;i<3;i++){
                        doc.append(
                                ["   <div class=\"Waltinto-connect-item\">",
"                                        <div class=\"img\">",
"                                                <img src=\""+data[i].picPath+"\" alt=\"\">",
"                                        </div>",
"                                        <div class=\"text\">",
"                                                <hgroup><h3>"+data[i].title+"</h3><h6 title=\""+data[i].remark+"\">"+data[i].remark+"</h6></hgroup>",
"                                        </div>",
"                                        <div class=\"btn\">",
"                                                <a href=\"./detail_index.html?id="+data[i].id+"\">",
"                                                        查看详情",
"                                                </a>",
"                                        </div>  ",
"                                </div>"].join("")
                        )
                }
         }
         function technologicalinnovationData(){
                $.ajax({
			type: 'get',
			url: CURRENCY_HOST + '/auth/website/getList?type=2&status=2&isTimeDesc=1',
			contentType: 'application/json',
			success: function(result, text, request) {
			var result = JSON.parse(result)
			if (result.success) {
                                rendertechnologicalinnovation(result.data.result)
                        } else {
                                alert(result.msg);
                        }
		  }
                })
         }
         function getMedioData(){
                $.ajax({
			type: 'get',
			url: CURRENCY_HOST + '/auth/website/getCarouses?type=5',
			contentType: 'application/json',
			success: function(result, text, request) {
			var result = JSON.parse(result)
			if (result.success) {
                                if(result.data.length){
                                        mp3Url=result.data[0].picPath
                                        console.log(mp3Url)
                                }
                               
                        } else {
                                alert(result.msg);
                        }
		  }
                })
                $.ajax({
			type: 'get',
			url: CURRENCY_HOST + '/auth/website/getCarouses?type=6',
			contentType: 'application/json',
			success: function(result, text, request) {
			var result = JSON.parse(result)
			if (result.success) {
                                if(result.data.length){
                                        vidoUrl=result.data[0].picPath
                                        console.log(vidoUrl)
                                }
                               
                        } else {
                                alert(result.msg);
                        }
		  }
                })
         }
         function rendertechnologicalinnovation(data){
                var doc = $('#technological')
                for(var i=0;i<data.length;i++){
                        doc.append(
                                ["      <div class=\"slide\">",
"                                        <div class=\"technological\">",
"                                                        <div class=\"title\">",
"                                                                <hgroup><h1>科技创新</h1><h6>technological innovation</h6></hgroup>",
"                                                        </div>",
"                                                        <div class=\"technological-connect\">",
"                                                            <div class=\"img\">",
"                                                                   <img src=\""+data[i].picPath+"\" alt=\"\">",
"                                                            </div>",
"                                                            <div class=\"text\">",
"                                                                <hgroup>",
"                                                                        <h3>"+data[i].title+"</h3>",
"                                                                        <h6>"+data[i].remark+"</h6>",
"                                                                </hgroup>",
"                                                                <div class=\"btn\">",
"                                                                                <a href=\"./detail_index.html?id="+data[i].id+"\">",
"                                                                                        查看更多",
"                                                                                </a>",
"                                                                </div>",
"                                                            </div>",
"                                                        </div>",
"                                        </div>",
"                        </div> "].join("")
                        )  
                }
                
                initfullpage()
         }
    </script>
</body>
</html>