<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>工业旅游</title>
        <link rel="stylesheet" href="./lib/css/base.css">
        <!-- <link rel="stylesheet" href="./lib/css/jquery.fullPage.css"> -->
        <link rel="stylesheet" href="./lib/css/fullpage.css">
        <!-- <link rel="stylesheet" href="./lib/css/bootstrap.css"> -->
        <link rel="stylesheet" href="./css/industrialtourism.css">

        <link rel="stylesheet" href="./css/header.css">
        <link rel="stylesheet" href="./css/common.css">
        <link rel="stylesheet" href="./css/footer.css">
</head>

<body>
        <div class="industrialtourism" id="dowebok">
                <div class="section section-one" data-anchor="section-one" id="blann">
                         <header class="header fixed-top"> 
                                                <div class="header-box"> 
                                                <div class="logo"><a href="./index.html"><img src="./img/logo.jpg" alt=""></a></div> 
                                                <ul class="nav-list"> 
                                                <div class="nav-item"><a class="as" href="./index.html#section-two">走进锡林</a></div> 
                                                <div class="nav-item"><a class="as" href="./index.html#section-three">科技创新</a></div> 
                                                <div class="nav-item" id="recommend-nav"> <a class="as" href="./news.html">公司新闻</a> </div> 
                                                <div class="nav-item" id="advantage-nav"> 
                                                        <a class="as" href="./industrialtourism.html">工业旅游</a> 
                                                        <div class="mask"></div> 
                                                        <div class="sub-nav"> 
                                                                <ul class="sub-nav-list">
                                                                        <li><a href="industrialtourism.html#section-two">游览专线</a></li> 
                                                                        <li><a href="./booktavern.html">酒店预订</a></li> 
                                                                        <li><a href="./meeting.html">会议服务</a></li>  
                                                                </ul> 
                                                        </div> 
                                                </div> 
                                                 <div class="nav-item"><a class="as" href="./social.html">社会责任</a></div> 
                                                <div class="nav-item"><a class="as" href="./PartyMemberNews.html">党群建设</a></div> 
                                                <div class="nav-item"><a class="as" href="./communion.html">内部交流</a></div> 
                                                <!-- <div class="nav-item">
                                                                <div id="audio_btn" class="rotate">
                                                                        <audio loop src="./img/mp4/myChine.mp3" id="media"  preload=""></audio>
                                                                </div>
                                                 </div>  -->
                                                </ul>       
                                         </div> 
                         </header>

                        <!-- 
                        <div class="slide" style="background-image: url(''../img/messting-img/img_001.jpg');"></div>
                        <div class="slide" style="background-image: url(''../img/messting-img/second.jpg')">

                        </div>
                        <div class="slide" style="background-image: url(''../img/messting-img/first.jpg');">

                        </div> -->
                        <div class="mask">
                               
                        </div>
                </div>
                <div class="section section-two" data-anchor="section-two">
                        <div class="container">
                                <div class="title">
                                        <hgroup>
                                                <h1>游览专线</h1>
                                                <h6>Tour line</h6>
                                        </hgroup>
                                </div>
                                <div class="connect">
                                        <div class="introduction">
                                                <ul>
                                                        <!-- <li >
                                                                <a href="./detail/tourdetail.html">
                                                                        <div class="img" style="background-image: url('./img/industrialtourism/img_01.jpg')">

                                                                        </div>
                                                                        <div class="introduction-card">
                                                                                <div class="ti">
                                                                                        金牌活动
                                                                                </div>
                                                                                <div class="info">
                                                                                        <hgroup>
                                                                                                <h4>壮丽内蒙古丨亮丽风景线</h4>
                                                                                                <h6>如果你不曾到过内蒙，不曾为其壮丽的大自然风光感动过，一定要来体验一次。
                                                                                                </h6>
                                                                                        </hgroup>
                                                                                </div>
                                                                        </div>
                                                                 </a>
                                                        </li>
                                                        <li >
                                                                <a href="./detail/tourdetail.html">
                                                                        <div class="img" style="background-image: url('./img/industrialtourism/img_02.jpg')">

                                                                        </div>
                                                                        <div class="introduction-card">
                                                                        
                                                                                <div class="ti">
                                                                                        金牌活动
                                                                                </div>
                                                                                <div class="info">
                                                                                        <hgroup>
                                                                                                <h4>壮丽内蒙古丨亮丽风景线</h4>
                                                                                                <h6>如果你不曾到过内蒙，不曾为其壮丽的大自然风光感动过，一定要来体验一次。
                                                                                                </h6>
                                                                                        </hgroup>
                                                                                </div>
                                                                        </div>
                                                                 </a>
                                                        </li>
                                                        <li >
                                                                <a href="./detail/tourdetail.html">
                                                                        <div class="img" style="background-image: url('./img/industrialtourism/img_03.jpg')">

                                                                        </div>
                                                                        <div class="introduction-card">
                                                                        
                                                                                <div class="ti">
                                                                                        金牌活动
                                                                                </div>
                                                                                <div class="info">
                                                                                        <hgroup>
                                                                                                <h4>壮丽内蒙古丨亮丽风景线</h4>
                                                                                                <h6>如果你不曾到过内蒙，不曾为其壮丽的大自然风光感动过，一定要来体验一次。
                                                                                                </h6>
                                                                                        </hgroup>
                                                                                </div>
                                                                        </div>
                                                                 </a>
                                                        </li>
                                                        <li >
                                                            <a href="./detail/tourdetail.html">
                                                                <div class="img" style="background-image: url('./img/industrialtourism/img_04.jpg')"></div>
                                                                <div class="introduction-card">
                                                                  
                                                                        <div class="ti">
                                                                                金牌活动
                                                                        </div>
                                                                        <div class="info">
                                                                                <hgroup>
                                                                                        <h4>壮丽内蒙古丨亮丽风景线</h4>
                                                                                        <h6>如果你不曾到过内蒙，不曾为其壮丽的大自然风光感动过，一定要来体验一次。
                                                                                        </h6>
                                                                                </hgroup>
                                                                        </div>
                                                                 </div>
                                                           </a>
                                                        </li> -->
                                                </ul>
                                        </div>
                                        <div class="activity">
                                                <ul>
                                                        <!-- <li >
                                                                 <a href="./detail/tourdetail.html">
                                                                        <div class="img" style="background-image: url('./img/industrialtourism/img_05.jpg')"></div>
                                                                                <div class="activity-card">
                                                                                     
                                                                                        <div class="ti">
                                                                                                品牌介绍
                                                                                        </div>
                                                                                        <div class="info">
                                                                                                <hgroup>
                                                                                                        <h4>壮丽内蒙古丨亮丽风景线</h4>
                                                                                                        <h6>如果你不曾到过内蒙，不曾为其壮丽的大自然风光感动过，一定要来体验一次。
                                                                                                        </h6>
                                                                                                </hgroup>
                                                                                        </div>
                                                                                </div>
                                                                </a>
                                                         </li>
                                                        <li >
                                                          <a href="./detail/tourdetail.html">
                                                                <div class="img" style="background-image: url('./img/industrialtourism/img_06.jpg')"></div>
                                                                <div class="activity-card">
                                                                    
                                                                        <div class="ti">
                                                                                品牌介绍
                                                                        </div>
                                                                        <div class="info">
                                                                                <hgroup>
                                                                                        <h4>壮丽内蒙古丨亮丽风景线</h4>
                                                                                        <h6>如果你不曾到过内蒙，不曾为其壮丽的大自然风光感动过，一定要来体验一次。
                                                                                        </h6>
                                                                                </hgroup>
                                                                        </div>
                                                                </div>
                                                                 </a>
                                                        </li>
                                                        <li>
                                                                <a href="./detail/tourdetail.html">                                                                
                                                                        <div class="img" style="background-image: url('./img/industrialtourism/img_07.jpg')"></div>
                                                                        <div class="activity-card">
                                                                        
                                                                                <div class="ti">
                                                                                        品牌介绍
                                                                                </div>
                                                                                <div class="info">
                                                                                        <hgroup>
                                                                                                <h4>壮丽内蒙古丨亮丽风景线</h4>
                                                                                                <h6>如果你不曾到过内蒙，不曾为其壮丽的大自然风光感动过，一定要来体验一次。
                                                                                                </h6>
                                                                                        </hgroup>
                                                                                </div>
                                                                        </div>
                                                                 </a>
                                                        </li> -->
                                                </ul>
                                        </div>
                                        <div class="btn center">
                                                <a href="javascript:;" style=" background-color: #ccc;">
                                                        立刻出发
                                                </a>
                                        </div>
                                </div>
                        </div>
                        <div class="pop-up-server">
                            <div class="to">
                                    <a href="#">
                                                <img src="./img/tubiao/lianxiwomen.png" alt="">
                                                <div>
                                                                会员注册
                                                </div>
                                    </a>
                            </div>
                            <div class="line"></div>

                            <div  class="bot">
                                <a href="#">
                                        <img src="./img/tubiao/huiyuan.png" alt="">  
                                        <div>
                                                 联系我们
                                        </div>
                                </a>
                            </div>
                        </div>
                </div>
                <div class="section section-hotel" data-anchor="section-hotel">
                        <div class="container">
                                        <div class="title">
                                                        <hgroup>
                                                                        <h1>酒店预订</h1>
                                                                        <h6>Hotel Reservation</h6>
                                                        </hgroup>
                                        </div>
                                        <div class="connect">
                                                    <div class="left">
                                                        <!-- <div class="img"  style="background-image: url('./img/room/img_room_01.jpg')">
                                                        </div> -->
                                                    </div>
                                                    <div class="right">
                                                        <div>
                                                                <!-- <li>
                                                                    <div class="img" style="background-image: url('./img/room/img_room_02.jpg')"></div>
                                                                </li>
                                                                <li>
                                                                    <div class="img" style="background-image: url('./img/room/img_room_03.jpg')"></div>
                                                                </li>
                                                                <li>
                                                                    <div class="img" style="background-image: url('./img/room/img_room_09.jpg')"></div>
                                                                </li>
                                                                <li>
                                                                    <div class="img" style="background-image: url('./img/room/img_room_10.jpg')"></div>
                                                                </li> -->
                                                        </div>
                                                 </div>
                                        </div>
                                        <div class="btn center" >
                                                        <a href="./booktavern.html">
                                                                酒店预订
                                                        </a>
                                         </div>
                        </div>  
                </div>
                <div class="section section-three" data-anchor="section-three">
                        <div class="container">
                                <div class="title">
                                        <hgroup>
                                                <h1>会议服务</h1>
                                                <h6>Conference services</h6>
                                        </hgroup>
                                </div>
                                <div class="connect">
                                        <div class="tavern-img">
                                                        <div class="right">
                                                                        <div>
                                                                                <!-- <li >
                                                                                        <div class="img" style="background-image: url('./img/messting-img/meeting01.jpg')"></div>
                                                                                        <hgroup class="inf">
                                                                                                        <h4>多功能报告厅</h4>
                                                                                                                <h6>多功能报告厅配备环绕式音箱、会议声控装置、3D立体荧幕、舞台灯控及灯光照明，可同时容纳200人
                                                                                                        </h6>
                                                                                        </hgroup>
                                                                                 </li>
                                                                                    <li >
                                                                                        <div class="img" style="background-image: url('./img/messting-img/meeting02.jpg')"></div> 
                                                                                        <hgroup class="inf">
                                                                                                        <h4>二号会议厅</h4>
                                                                                                                <h6>会议设施齐全，会议服务人员经验丰富，单个会议室可同时容纳30人
                                                                                                        </h6>
                                                                                        </hgroup>
                                                                                 </li>
                                                                                    <li >
                                                                                        <div class="img" style="background-image: url('./img/messting-img/meeting06.jpg')"></div>       
                                                                                        <hgroup class="inf">
                                                                                                        <h4>八号会议厅</h4>
                                                                                                                <h6>会议设施齐全，会议服务人员经验丰富，单个会议室可同时容纳30人
                                                                                                        </h6>
                                                                                        </hgroup>
                                                                                </li>
                                                                                   <li >
                                                                                    <div class="img" style="background-image: url('./img/messting-img/meeting07.jpg')"></div>      
                                                                                    <hgroup class="inf">
                                                                                                <h4>七号会议厅</h4>
                                                                                                        <h6>会议设施齐全，会议服务人员经验丰富，单个会议室可同时容纳30人
                                                                                                </h6>
                                                                                     </hgroup>
                                                                                </li>
                                                
                                                                                <li >
                                                                                        <div class="img" style="background-image: url('./img/messting-img/meeting08.jpg')"></div>    
                                                                                        <hgroup class="inf">
                                                                                                        <h4>六号会议厅</h4>
                                                                                                                <h6>会议设施齐全，会议服务人员经验丰富，单个会议室可同时容纳30人
                                                                                                        </h6>
                                                                                        </hgroup>
                                                                                </li>             
                                                                                    <li >
                                                                                        <div class="img" style="background-image: url('./img/messting-img/meeting03.jpg')"></div>    
                                                                                        <hgroup class="inf">
                                                                                                        <h4>三号会议厅</h4>
                                                                                                                <h6>会议设施齐全，会议服务人员经验丰富，单个会议室可同时容纳30人
                                                                                                        </h6>
                                                                                        </hgroup>
                                                                                  </li>
                                                                                    <li >
                                                                                        <div class="img" style="background-image: url('./img/messting-img/meeting04.jpg')"></div>                    
                                                                                        <hgroup class="inf">
                                                                                                        <h4>四号会议厅</h4>
                                                                                                                <h6>会议设施齐全，会议服务人员经验丰富，单个会议室可同时容纳30人
                                                                                                        </h6>
                                                                                         </hgroup>
                                                                                  </li>
                                                                                    <li >
                                                                                        <div class="img" style="background-image: url('./img/messting-img/meeting05.jpg')"></div>                  
                                                                                        <hgroup class="inf">
                                                                                                        <h4>五号会议厅</h4>
                                                                                                                <h6>会议设施齐全，会议服务人员经验丰富，单个会议室可同时容纳30人
                                                                                                        </h6>
                                                                                        </hgroup>
                                                                                   </li> -->
                                                                        </div>
                                                        </div>
                                        </div> 
                                </div>
                                <div class="btn center" >
                                        <a href="./meeting.html">
                                                会议预订
                                        </a>
                                </div>
                        </div>
                </div>
                <div class="section footer fp-auto-height">
                        <hgroup class="foo">
                                <h5>Copyright © www.AxureUX.com, All Rights Reserved</h5>
                                <h5>京能（锡林郭勒）发电有限公司  Email:xilinpower@.com  tel:0479-6978000</h5>
                        </hgroup>
                </div>
        </div>
        <script src="./lib/js/jquery-1.8.3.min.js"></script>
        <!-- <script src="./lib/js/jquery.fullPage.min.js"></script> -->
        <script src="./lib/js/fullpage.js"></script>
        <script src="./js/common.js"></script>
        <!-- <script src="./js/public.js"></script> -->
        <script>
         
        var x = document.getElementById("media"); 
        getMeetingData()
        getHotelData()
        getTourlineData()
        getbannlanData()
        $(function(){
                setTimeout(function(){

                        $('#dowebok').fullpage({
                        verticalCentered: false,
                        resize: true,
                        sectionsColor: ['#1bbc9b', '#FFFFFF','#F6F6F6', '#FFFFFF', '#383838'],
                        anchors: ['section-one', 'section-two', 'section-hotel','section-three', 'section-four'],
                        afterLoad: function (anchorLink, index) {
                        }
                })
                
                $(function () {
                        $('.section-one .fp-controlArrow.fp-next').css('opacity', '0')
                        $('.section-one .fp-controlArrow.fp-prev').css('opacity', '0')
                        $('.section-one .fp-controlArrow.fp-next').on('mouseover', function () {
                                $('.section-one .fp-controlArrow.fp-next').css('opacity', '1')
                                $('.section-one .fp-controlArrow.fp-prev').css('opacity', '1')
                        })

                        $('.section-one .fp-controlArrow.fp-prev').on('mouseover', function () {
                                $('.section-one .fp-controlArrow.fp-prev').css('opacity', '1')
                                $('.section-one .fp-controlArrow.fp-next').css('opacity', '1')
                        })
                        $('.section-one .fp-controlArrow.fp-next').on('mouseout', function () {
                                $('.section-one .fp-controlArrow.fp-next').css('opacity', '0')
                                $('.section-one .fp-controlArrow.fp-prev').css('opacity', '0')
                        })

                        $('.section-one .fp-controlArrow.fp-prev').on('mouseout', function () {
                                $('.section-one .fp-controlArrow.fp-prev').css('opacity', '0')
                                $('.section-one .fp-controlArrow.fp-next').css('opacity', '0')
                        })
                        $('.mask').on('click', function () {
                                $.fn.fullpage.moveSectionDown();
                        })
                        setInterval(function () {
                                $.fn.fullpage.moveSlideRight();
                        }, 3000);
                })
                
                        $("#audio_btn").click(function(){
                                $(this).toggleClass("rotate");        
                                if($(this).hasClass("rotate")){
                         x.play();
                        }else{
                          x.pause();
                        }
                })
                
                var width = $(".section-three .tavern-img .right div li").width()
                $(".section-three .tavern-img .right div li").height(width*0.719616368)


                var width4 = $(".section-two .container .introduction li").width()
                $(".section-two .container .introduction li").height(width4*0.910)
                var width5 = $(".section-two .container .activity li").width()
                $(".section-two .container .activity li").height(width4*0.688)

                // 酒店服务
                var width1 = $(".section-hotel  .container .connect .left").width()
                $(".section-hotel  .container .connect .left").height(width1*0.714285714)
                var width2 = $(".section-hotel  .container .connect .right div li").width()
                $(".section-hotel  .container .connect .right div li").height(width2*0.575117371)       
                },200)
        })

        //酒店预订数据
        function getHotelData(){
                $.ajax({
			type: 'get',
			url: CURRENCY_HOST + '/auth/website/getCarouses?type=3',
			contentType: 'application/json',
			success: function(result, text, request) {
			var result = JSON.parse(result)
			if (result.success) {
                                renderHotel(result.data)
                        } else {
                                alert(result.msg);
                        }
		  }
            })
        }
        // 渲染会议室数据
        function renderHotel(data){
                var left = $('.section-hotel .container .connect .left')
                var right = $('.section-hotel .container .connect .right div')
                left.append([" <div class=\"img\"  style=\"background-image: url(\'"+data[0].picPath+"\')\"></div>"].join(""))
                for(var i=1;i<data.length;i++){
                        right.append([" <li><div class=\"img\" style=\"background-image: url(\'"+data[i].picPath+"\')\"></div></li>"].join("")) 
                }  
        }
        //会议室数据
        function getMeetingData(){
                $.ajax({
			type: 'get',
			url: CURRENCY_HOST + '/auth/website/getCarouses?type=4',
			contentType: 'application/json',
			success: function(result, text, request) {
			var result = JSON.parse(result)
			if (result.success) {
                                renderMeeting(result.data)
                        } else {
                                alert(result.msg);
                        }
		  }
            })
        }
        // 渲染会议室数据
        function renderMeeting(data){
                var doc = $('.section-three .tavern-img .right div')
                for(var i=0;i<data.length;i++){
                        doc.append(
                                ["<li >",
"                                <div class=\"img\" style=\"background-image: url(\'"+data[i].picPath+"\')\"></div>",
"                                        <hgroup class=\"inf\">",
"                                         <h4>"+data[i].title+"</h4>",
"                                                 <h6>"+data[i].remark+"",
"                                                </h6>",
"                                        </hgroup>",
"                                </li> "].join("")
                        )
                }
                // data.forEach(element => {

                // })
                
        }

        //浏览专线
        function getTourlineData(){
                $.ajax({
			type: 'get',
			url: CURRENCY_HOST + '/auth/website/getList?type=4&status=2&isTimeDesc=1',
			contentType: 'application/json',
			success: function(result, text, request) {
			var result = JSON.parse(result)
			if (result.success) {
                                renderTourlin(result.data.result)
                        } else {
                                alert(result.msg);
                        }
		  }
            })
        }
        // 渲染旅游专线
        function renderTourlin(data){
                // var doc = $('.section-three .tavern-img .right div')
                var top = $('.section-two .container .introduction ul')
                var bottom = $('.section-two .container .activity ul')
                var top_cout = 0;
                var bootom_count = 0;
                for(var i=0;i<data.length;i++){
                        if(data[i].childType==1&&top_cout!=4){
                                top_cout++
                                top.append(
                                ["      <li >",
"                                                                <a href=\"./detail.html?id="+data[i].id+"\">",
"                                                                        <div class=\"img\" style=\"background-image: url(\'"+data[i].picPath+"\')\">",
"                                                                        </div>",
"                                                                        <div class=\"introduction-card\">",
"                                                                                <div class=\"ti\">",
"                                                                                        金牌活动",
"                                                                                </div>",
"                                                                                <div class=\"info\">",
"                                                                                        <hgroup>",
"                                                                                                <h4>"+data[i].title+"</h4>",
"                                                                                                <h6>"+data[i].remark+"",
"                                                                                                </h6>",
"                                                                                        </hgroup>",
"                                                                                </div>",
"                                                                        </div>",
"                                                                 </a>",
"                                         </li>"].join("") 
                        )  
                   }
                   if(data[i].childType==2&&bootom_count!=3){
                                bootom_count++
                                bottom.append(
                                ["<li >",
"                                                                 <a href=\"./detail.html?id="+data[i].id+"\">",
"                                                                        <div class=\"img\" style=\"background-image: url(\'"+data[i].picPath+"\')\"></div>",
"                                                                                <div class=\"activity-card\">",
"                                                                                     ",
"                                                                                        <div class=\"ti\">",
"                                                                                                品牌介绍",
"                                                                                        </div>",
"                                                                                        <div class=\"info\">",
"                                                                                                <hgroup>",
"                                                                                                        <h4>"+data[i].title+"</h4>",
"                                                                                                        <h6>"+data[i].remark+"",
"                                                                                                        </h6>",
"                                                                                                </hgroup>",
"                                                                                        </div>",
"                                                                                </div>",
"                                                                </a>",
"                                                         </li>"].join("")
                        )  
                   }
                }
                // data.forEach(element => {
 
                // })  
        }
        
        // 首页 bannlan
        function getbannlanData(){
                $.ajax({
			type: 'get',
			url: CURRENCY_HOST + '/auth/website/getCarouses?type=2',
			contentType: 'application/json',
			success: function(result, text, request) {
			var result = JSON.parse(result)
			if (result.success) {
                                var data = result.data
                                for(var i=0;i<data.length;i++){
                                        $('#blann').append(
                                                ["  <div class=\"slide\" style=\"background-image: url(\'"+data[i].picPath+"\');\"></div>"].join("")
                                        )
                                }
                                // result.data.forEach(item => {
                                //         console.log(item.picPath)
                                        
                                // })
                                // renderTourlin(result.data)
                        } else {
                                alert(result.msg);
                        }
		  }
            }) 
        }


        
        
        </script>
</body>

</html>