<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新闻</title>
    <link rel="stylesheet" href="./lib/css/base.css">
       
    <!-- <link rel="stylesheet" href="./lib/css/jquery.fullPage.css"> -->
    <link rel="stylesheet" href="./css/news.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./lib/css/zxf_page.css">
    <style>
        .current{
                background: #208DF7;
        }
    </style>
</head>
<body>
    <div class="news">
        <!-- <header class="header fixed-top"> 
                        <div class="header-box"> 
                        <div class="logo"><a href="./index.html"><img src="./img/logo.jpg" alt=""></a></div> 
                        <ul class="nav-list"> 
                        <div class="nav-item"><a class="as" href="./index.html#section-two">走进锡林</a></div> 
                        <div class="nav-item"><a class="as" href="./index.html#section-three">科技创新</a></div> 
                        <div class="nav-item" id="recommend-nav"> <a class="as" href="./news.html">公司新闻</a> </div> 
                        <div class="nav-item" id="advantage-nav"> 
                                <a class="as" href="./industrialtourism.html">工业旅游</a> 
                                <div class="mask"></div> 
                                <div class="sub-nav"> 
                                        <ul class="sub-nav-list"> 
                                                <li><a href="./booktavern.html">酒店预订</a></li> 
                                                <li><a href="./meeting.html">会议服务</a></li>  
                                        </ul> 
                                </div> 
                        </div> 
                        <div class="nav-item"><a class="as" href="./achievement.html">社会责任</a></div> 
                        <div class="nav-item"><a class="as" href="./PartyMemberNews.html">党群建设</a></div> 
                        <div class="nav-item"><a class="as" href="./news.html">内部交流</a></div> 
                        </ul>       
                </div> 
        </header> -->
            <div class="news-bg">
                    <img src="./img/newbanner.jpg" alt="" style="width:100%;display:block;">
                    <!-- <hgroup><h1>五间房会议室</h1><h6><span class="blue">[锡林郭勒]</span> 幸福东路3段71号</h6></hgroup> -->
            </div>
            <div class="news-connect">
                    <div class="news-info">
                            <div class="title">
                                    集团要闻
                                    <span> 
                                    <a href="#">
                                            <!-- 查看更多 -->
                                    </a></span>
                            </div>
                            <div class="news-list">
                                <!-- <div class="item">
                                        <div class="left">
                                            <img src="./img/newlist01.jpg" alt="">
                                        </div>
                                        <div class="middle">
                                            <div class="day">29</div>
                                            <div class="year-month">2019-01</div>
                                        </div>
                                        <div class="right">
                                            <div class="titl">
                                                    京能集团工会举办学习贯彻中国工会十七大精神工会干部培训班
                                            </div>
                                            <div class="connect">
                                                    2018年12月12日至14日，京能集团工会组织全系统各级工会干部开展为期三天的学习贯彻中国工会十七大精神工会干部培训班。平台、直属公司及基层实体企业153名工会干部参加培训，集团工会副主席刘国喜为培训班做了开班动员。集团党委副书记李迅出席培训班并在培训最后做总结讲话。  
                                            </div>
                                            <div class="button">
                                                    <a href="./detail/Groupnewsdetail01.html">
                                                            查看详情
                                                    </a>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="item">
                                            <div class="left">
                                                <img src="./img/newlist02.jpg" alt="">
                                            </div>
                                            <div class="middle">
                                                <div class="day">28</div>
                                                <div class="year-month">2019-01</div>
                                            </div>
                                            <div class="right">
                                                <div class="titl ">
                                                        京能集团召开领导干部警示教育大会 不断推进全面从严治党向纵深发展
                                                </div>
                                                <div class="connect">
                                                        12月13日，京能集团召开领导干部警示教育大会。集团领导班子成员；总部各部室正副职、专职董事；集团所属平台公司党委书记、总经理；集团直属在京二级企业党委书记、总经理在主会场出席会议。集团平台公司及直属二级企业领导班子其他成员、党群工作部及纪检监察室负责人 
                                                </div>
                                                <div class="button">
                                                        <a href="./detail/Groupnewsdetail02.html">
                                                            查看详情
                                                        </a>
                                                </div>  
                                            </div>
                                        </div>
                                        <div class="item">
                                                <div class="left">
                                                    <img src="./img/newlist03.png" alt="">
                                                </div>
                                                <div class="middle">
                                                    <div class="day">27</div>
                                                    <div class="year-month">2019-01</div>
                                                </div>
                                                <div class="right">
                                                    <div class="titl ">
                                                            京能集团召开领导干部警示教育大会 不断推进全面从严治党向纵深发展
                                                    </div>
                                                    <div class="connect">
                                                            12月13日，京能集团召开领导干部警示教育大会。集团领导班子成员；总部各部室正副职、专职董事；集团所属平台公司党委书记、总经理；集团直属在京二级企业党委书记、总经理在主会场出席会议。集团平台公司及直属二级企业领导班子其他成员、党群工作部及纪检监察室负责人 
                                                    </div>
                                                    <div class="button ">
                                                            <a href="./detail/Groupnewsdetail03.html">
                                                                查看详情
                                                            </a>
                                                    </div>  
                                                </div>
                                            </div>
                                            <div class="item">
                                                    <div class="left">
                                                        <img src="./img/newlist04.png" alt="">
                                                    </div>
                                                    <div class="middle">
                                                        <div class="day">26</div>
                                                        <div class="year-month">2019-01</div>
                                                    </div>
                                                    <div class="right">
                                                        <div class="titl ">
                                                            京能集团召开2018年战略发展研讨会
                                                        </div>
                                                        <div class="connect">
                                                            12月7日，京能集团召开2018年战略发展研讨会。京能集团领导班子全体成员出席会议，集团董事会秘书、总经理助理、总部各部室、工会及团委负责人，所属平台公司和部分控股企业的董事长、总经理共80余人参加会议。会议由集团党委副书记、总经理阚兴同志主持。  
                                                        </div>
                                                        <div class="button ">
                                                                <a href="./detail/Groupnewsdetail04.html">
                                                                    查看详情
                                                                </a>
                                                        </div>  
                                                    </div>
                                        </div>
                                         -->
                        </div>
                        <div class="zxf_pagediv" style="margin-top:100px;"></div>    
                </div>
            </div>
            <!-- <div class="section footer fp-auto-height" >
                <hgroup class="foo">
                        <h5>Copyright © www.AxureUX.com, All Rights Reserved</h5>
                        <h5> Email : xxxxxxxx  QQ: 5698401</h5>
                </hgroup>
            </div> -->
    </div>
    <script src="./lib/js/jquery-1.8.3.min.js"></script>
    <script src="./js/public.js"></script>
    <script src="./lib/js/zxf_page.js"></script>
    <script src="./js/common.js"></script>
    <!-- <script src="./lib/js/jquery.fullPage.min.js"></script> -->
    <script>
        // http://192.168.0.187:8085/auth/website/getList?pageNumber=1&pageSize=13&status=&startdate=&enddate=&title=&type=3
        // http://192.168.0.187:8085/auth/website/getList?pageNumber=1&pageSize=13&status=2&startdate=&enddate=&title=&type=3
        var countNum  = 0;
        var currentpage = 1;
        var pageSize = 2;
     
        function getNewsData(){
         $.ajax({
			type: 'get',
			url: CURRENCY_HOST + "/auth/website/getList?type=3&status=2&pageNumber="+currentpage+"&pageSize="+pageSize+"",
			contentType: 'application/json',
			success: function(result, text, request) {
			var result = JSON.parse(result)
			if (result.success) {
                countNum = (result.data.totalCount/pageSize)
                // countNum
                console.log(result.data.result)
                rendNewData(result.data.result)
               
                                // rendertechnologicalinnovation(result.data.result)
            } else {
                    alert(result.msg);
                }
		      }
            })
         }
         getNewsData()
         setTimeout(function(){
            $(".zxf_pagediv").createPage({
                pageNum: countNum,
                current: 1,
                backfun: function(e) {
                    currentpage = e.current
                    getNewsData()
                    // console.log(e)
                }
            });
         },100)
         function rendNewData(data){
             var doc = $('.news-list')
             doc[0].innerHTML =''
             for(var i=0;i<data.length;i++){
                doc.append(
                    ["    <div class=\"item\">",
"                                                <div class=\"left\">",
"                                                    <img src=\""+data[i].picPath+"\" alt=\"\">",
"                                                </div>",
"                                                <div class=\"middle\">",
"                                                    <div class=\"day\">"+new Date(data[i].publishtime).getDate()+"</div>",
"                                                    <div class=\"year-month\">"+new Date(data[i].publishtime).getFullYear()+"-"+(new Date(data[i].publishtime).getMonth() + 1)+"</div>",
"                                                </div>",
"                                                <div class=\"right\">",
"                                                    <div class=\"titl \">",
"                                                            "+data[i].title+"",
"                                                    </div>",
"                                                    <div class=\"connect\">",
"                                                           "+data[i].remark+"",
"                                                    </div>",
"                                                    <div class=\"button \">",
"                                                            <a href=\"./detail_news.html?id="+data[i].id+"\">",
"                                                                查看详情",
"                                                            </a>",
"                                                    </div>  ",
"                                                </div>",
"                                            </div>"].join("")
                 )
             }
            //  data.forEach(element => {

            //  });
         }

      
        

        // $(function(){
        //    var width = $(".news .news-bg").width()
        //    $(".news .news-bg").height(width*0.3125)
        // })


    </script>
</body>
</html>