<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新闻详情</title>
    <link rel="stylesheet" href="../lib/css/base.css">
    <!-- <link rel="stylesheet" href="./lib/css/jquery.fullPage.css"> -->
    <link rel="stylesheet" href="../css/newsdetail.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/header.css">
    <style>
        .newsdetail-connect .connect div img{
            width: 100%;
            height:450px;
        }
        .newsdetail-info .connect div{
            text-align: center;
            margin: 15px 100px 20px 100px;
        }
        .newsdetail-info .connect p{
            color: #666666;
            font-size: 16px;
            text-indent: 2em;
            letter-spacing: 2px;
            margin: 5px 100px 0px 100px;
        }
        .newsdetail-info .connect h3{
            margin: 5px 100px 0px 100px;
        }
        p{
            margin-bottom: 20px!important;
        }
    </style>
</head>
<body>
    <div class="newsdetail">
            <div class="newsdetail-bg" style="background-image: url('../img/top_balan.jpg')">
                   <!-- 背景 -->
            </div>
            <div class="newsdetail-connect">
                    <div class="newsdetail-info">
                            <div class="title">
                                    <h2>专利介绍</h2>
                                    <div class="auteh">
                                        <span>
                                                文：白桦树2008
                                        </span>
                                        <span>
                                                发布时间：2018-12-23
                                        </span>
                                    </div>
                            </div>
                            <div class="connect">
                                <div style="display: flex;
                                justify-content: space-between;">
                                        <img src="../img/专利证书照片格式/1一种圆烟道膨胀节.jpg" alt="" style="width: 16%;height: 310px;">
                                        <img src="../img/专利证书照片格式/2一种管式气垫输送机构.jpg" alt="" style="width: 16%;height: 310px;">
                                        <img src="../img/专利证书照片格式/4一种机炉集合热能循环余热回用系统.jpg" alt="" style="width: 16%;height: 310px;">
                                        <img src="../img/专利证书照片格式/5一种烟气冷凝提水系统.jpg" alt="" style="width: 16%;height: 310px;">
                                        <img src="../img/专利证书照片格式/6一种烟气冷凝塔.jpg" alt="" style="width: 16%;height: 310px;">
                                </div>
                                <!-- <div style="display: flex;
                                justify-content: space-between;">
                                        <img src="../img/专利证书照片格式/7一种烟气-空气换热系统.jpg" alt="" style="width: 16%;height: 310px;">
                                        <img src="../img/专利证书照片格式/8一种配料器及配料系统.jpg" alt="" style="width: 16%;height: 310px;">
                                        <img src="../img/专利证书照片格式/9一种带有回程槽管结构的带式输送机.jpg" alt="" style="width: 16%;height: 310px;">
                                        <img src="../img/专利证书照片格式/10一种防腐换热管及冷却塔换热管束.jpg" alt="" style="width: 16%;height: 310px;">
                                        <img src="../img/专利证书照片格式/11一种永磁调速间接空冷式风机.jpg" alt="" style="width: 16%;height: 310px;">
                                </div> -->
                                <h4 style="text-indent: 2em;
                                letter-spacing: 2px;
                                margin: 5px 100px 0px 100px;">
                                        公司已获得一种机炉集合热能循环余热回用系统、一种烟气冷凝提水系统2项发明专利和一种圆烟道膨胀节、一种带有回程槽管结构的带式输送机、一种中压开关DCS远程可视停送电及诊断系统、一种四路电源供电的低压保安电源自动切换装置、一种新型磨煤机惰化系统、一种伸缩式空心锥喷砂头等17项实用新型专利。
                                </h4>
                                <p>
                                        1）生态环保维度——面对水资源匮乏现状，严苛排放指标，率先采用烟气脱硫除尘提水一体化技术
                                </p>
                                <p>
                                        乌珠穆沁草原地处高原，属北温带干旱气候，日照丰富，四季分明，无霜期短，降水少，蒸发量大。年平均气温1.6℃，年均降水量345毫米，最多550毫米，最少210毫米。地表水资源匮乏，因此该地的发展多靠地下水资源实现供水，地下水资源已趋于短缺。
                                </p>
                                <p>
                                        针对水资源短缺现状、燃用褐煤烟气含水量大的特点，锡林发电创新性研发应用全球首台660MW褐煤锅炉单塔深度脱硫、除尘与烟气提水一体化技术（见图1），采用混合式烟气提水系统，空间换热系数高达10000W/m3℃等级，饱和净烟气快速降温冷却凝结；与表面式烟气提水系统相比，投资成本可降低20～40%，运行费用大幅降低，实现年烟气提水量不小于111.282万吨，全厂生产零水耗（见表1）。
                                </p>
                                <p>
                                        基于低低温电除尘器与烟气脱硫除尘提水一体化技术的协同应用，实现了烟气排放指标的进一步降低，二氧化硫由≤15mg/Nm3降低为≤9mg/Nm3，烟尘由≤5mg/Nm3降低为≤2.5mg/Nm3，Hg由≤0.015mg/Nm3降低为≤0.01mg/Nm3，显著提高了机组的环保贡献值，提高了洁净发电水平。
                                </p>
                                <p>
                                        该技术取得一种烟气冷凝提水系统发明专利1项和一种烟气冷凝提水系统、一种烟气冷凝塔、一种防腐换热管及冷却塔换热管束3项实用新型专利
                                </p>
                                <img src="../img/zhuanli01.png" alt="" style="width:100%;height: 450px;">
                                <img src="../img/zhuanli02.png" alt="" style="width:100%;height: 450px;">
                                <p>
                                        2）聚焦效能为本，多途径降低供电煤耗——660MW高参数(605℃/623℃/29.4MPa)褐煤超超临界锅炉、锅炉尾部烟气集合高效利用系统、新型烟气-空气换热系统
                                </p>
                                <p>
                                        传统的褐煤锅炉为亚临界参数，制约了机组热效率的提高；但受装备技术水平的限制，尚未出现高参数的超超临界褐煤锅炉。选择“高参数”提高机组经济性成为对发电厂经济指标影响的决定性因素，参数越高，机组效率越高，最大程度节约运营成本，同时污染物排放减小，综合竞争优势明显。锡林发电协同设计院、锅炉制造厂进行大量的实际调研、参数比选、技术论证，将660MW褐煤锅炉蒸汽参数提高到605℃/623℃/29.4MPa，创造了国内外电力行业褐煤锅炉目前的最高参数等级。为实现高蒸汽参数，在炉膛整体设计优化、金属材料优选与氧化皮防治、受热面高温腐蚀防治、配套制粉系统等方面均有技术突破。
                                </p>
                                <p>
                                        高水分褐煤锅炉的排烟温度在原煤水分40%时一般可达160℃，排烟热损失比常规锅炉高2~3%。锡林发电自主创新研发了基于锅炉尾部烟气高效利用关键技术的机炉集合热能循环回用系统，包括锅炉侧尾部热能集合烟气系统、汽轮机侧联合换热给水系统。该关键技术实现了褐煤机组降低煤耗7~8 g/kWh，对行业技术进步影响深远，引领褐煤机组节能提效的方向。
                                </p>
                                <p>
                                        新型烟气-空气换热系统可有效利用锅炉的烟气余热，耗能低。通过回收烟气中的热量加热热媒水，热媒水间接预加热一次风机出口的洁净冷风源，通过锅炉内部的烟气-空气换热器二次加热，产出脱硝系统尿素热解洁净风源。实现在加热过程中无需消耗电能，并且避免了常规尿素热解系统中的污染堵塞问题，满足了脱硝尿素热解的节能环保要求与可靠性要求。该技术与传统的电加热系统相比节约了大量电能，以600MW等级机组为例，每年每台机组节约电能高达550万kW•h，直接经济效益达165万元/年。
                                </p>
                                <p>
                                        取得一种机炉集合热能循环余热回用系统发明专利1项，一种新型尾部烟气热能集合高效节能应用系统、一种机炉集合热能循环余热回用系统、一种烟气-空气换热系统等3项实用新型专利。
                                </p>
                                <h3>
                                        QC介绍：
                                </h3>
                                <p>
                                        优化先锋QC小组成果《降低极寒地区新建电厂基建期采暖耗油率》荣获2018年度工程建设优秀质量管理小组一等奖。
                                </p>
                                <p>
                                        蓝色哈达QC小组成果《空冷换热器管束内壁防腐涂装工艺的研发》和北极星QC小组成果《电厂基建期采暖疏水回收方案的研究与应用》获得“2018年度电力建设优秀质量管理QC成果一等奖”，草原之光QC小组成果《锅炉水压后U型管排防冻方案研究及应用》、知无涯QC小组成果《墙体装饰型变形缝应用方法的研制》、优化先锋QC小组成果《降低极寒地区新建电厂基建期采暖耗油率》获得“2018年度电力建设优秀质量管理QC成果二等奖”。
                                </p>
                                <h3>
                                        科技论文介绍：
                                </h3>
                                <p>
                                        累计发表科技论文55篇，其中赵敏、郭志文、陈永、王晓晖的论文《论火电厂水岛联合布置之EDI的优势》发表在核心期刊，高志佳、杜小丽的论文《660MW超超临界机组褐煤锅炉的参数选择》被国内学术会议收录并推荐发表在省部级期刊；赵小楠的论文《褐煤锅炉余热集成梯级利用系统的应用与研究》发表在省部级行业期刊。
                                </p>
                           </div>
                </div>
            </div>
    </div>
    <script src="../lib/js/jquery-1.8.3.min.js"></script>
    <script src="../js/common_detail.js"></script>
    <!-- <script src="./lib/js/jquery.fullPage.min.js"></script> -->
    <script>
        $(function(){
           var width = $(".newsdetail .newsdetail-bg").width()
           $(".newsdetail .newsdetail-bg").height(width*0.312)
        })
    </script>
</body>
</html>