<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="renderer" content="webkit|ie-comp|ie-stand">
  <title>(京能)锡林郭勒网站后台</title>

  <% if (htmlWebpackPlugin.options.NODE_ENV === 'production') { %>
  <link href="//cdn.bootcss.com/normalize/7.0.0/normalize.min.css" rel="stylesheet">
  <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="//unpkg.com/element-ui/lib/theme-chalk/index.css" rel="stylesheet">
  <link href="//cdn.bootcss.com/codemirror/5.29.0/codemirror.min.css" rel="stylesheet">
  <link href="//cdn.bootcss.com/codemirror/5.29.0/theme/seti.min.css" rel="stylesheet">
  <link href="//cdn.bootcss.com/codemirror/5.29.0/addon/fold/foldgutter.min.css" rel="stylesheet">
  <% } else if (htmlWebpackPlugin.options.NODE_ENV === 'test-production') { %>
  <link href="//cdn.bootcss.com/normalize/7.0.0/normalize.css" rel="stylesheet">
  <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
  <link href="//unpkg.com/element-ui/lib/theme-chalk/index.css" rel="stylesheet">
  <link href="//cdn.bootcss.com/codemirror/5.29.0/codemirror.css" rel="stylesheet">
  <link href="//cdn.bootcss.com/codemirror/5.29.0/theme/seti.css" rel="stylesheet">
  <link href="//cdn.bootcss.com/codemirror/5.29.0/addon/fold/foldgutter.css" rel="stylesheet">
  <% } %>
    <!-- <link href="./static/lib/js/normalize.min.css" rel="stylesheet">
    <link href="./static/lib/js/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./static/lib/js/index.css">
    <link href="./static/lib/js/codemirror.min.css" rel="stylesheet">
    <link href="./static/lib/js/seti.min.css" rel="stylesheet">
    <link href="./static/lib/js/foldgutter.min.css" rel="stylesheet"> -->
</head>

<body>
  <div id="app"></div>

  <% if (htmlWebpackPlugin.options.NODE_ENV === 'production') { %>
  <script src="//cdn.bootcss.com/babel-polyfill/6.23.0/polyfill.min.js"></script>
  <script src="//cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
  <script src="//cdn.bootcss.com/vue-router/2.6.0/vue-router.min.js"></script>
  <script src="//cdn.bootcss.com/vuex/2.3.1/vuex.min.js"></script>
  <script src="//cdn.bootcss.com/axios/0.16.2/axios.min.js"></script>
  <script src="//unpkg.com/element-ui/lib/index.js"></script>
  <script src="//cdn.bootcss.com/moment.js/2.18.1/moment.min.js"></script>
  <script src="//cdn.bootcss.com/moment.js/2.18.1/locale/zh-cn.js"></script>
  <script src="//cdn.bootcss.com/lodash.js/4.17.4/lodash.min.js"></script>
  <script src="https://cdn.bootcss.com/echarts/4.2.0-rc.1/echarts.min.js"></script>
  <script src="//cdn.bootcss.com/codemirror/5.29.0/codemirror.min.js"></script>
  <script src="//cdn.bootcss.com/codemirror/5.29.0/mode/python/python.min.js"></script>
  <script src="//cdn.bootcss.com/codemirror/5.29.0/addon/fold/foldgutter.min.js"></script>
  <script src="//cdn.bootcss.com/codemirror/5.29.0/addon/fold/indent-fold.min.js"></script>
  <% } else if (htmlWebpackPlugin.options.NODE_ENV === 'test-production') { %>
  <script src="//cdn.bootcss.com/babel-polyfill/6.23.0/polyfill.js"></script>
  <script src="//cdn.bootcss.com/vue/2.5.16/vue.js"></script>
  <script src="//cdn.bootcss.com/vue-router/2.6.0/vue-router.js"></script>
  <script src="//cdn.bootcss.com/vuex/2.3.1/vuex.js"></script>
  <script src="//cdn.bootcss.com/axios/0.16.2/axios.js"></script>
  <script src="//unpkg.com/element-ui/lib/index.js"></script>
  <script src="//cdn.bootcss.com/moment.js/2.18.1/moment.js"></script>
  <script src="//cdn.bootcss.com/moment.js/2.18.1/locale/zh-cn.js"></script>
  <script src="//cdn.bootcss.com/lodash.js/4.17.4/lodash.js"></script>
  <script src="https://cdn.bootcss.com/echarts/4.2.0-rc.1/echarts.js"></script>
  <script src="//cdn.bootcss.com/codemirror/5.29.0/codemirror.js"></script>
  <script src="//cdn.bootcss.com/codemirror/5.29.0/mode/python/python.js"></script>
  <script src="//cdn.bootcss.com/codemirror/5.29.0/addon/fold/foldgutter.js"></script>
  <script src="//cdn.bootcss.com/codemirror/5.29.0/addon/fold/indent-fold.js"></script>
  <% } %>
  <!-- <script src="./static/lib/js/polyfill.min.js"></script>
  <script src="./static/lib/js/vue.min.js"></script>
  <script src="./static/lib/js/vue-router.min.js"></script>
  <script src="./static/lib/js/vuex.min.js"></script>
  <script src="./static/lib/js/axios.min.js"></script>
  <script src="./static/lib/js/index.js"></script>
  <script src="./static/lib/js/moment.min.js"></script>
  <script src="./static/lib/js/zh-cn.js"></script>
  <script src="./static/lib/js/lodash.min.js"></script>
  <script src="./static/lib/js/echarts.min.js"></script>
  <script src="./static/lib/js/codemirror.min.js"></script>
  <script src="./static/lib/js/python.min.js"></script>
  <script src="./static/lib/js/foldgutter.min.js"></script>
  <script src="./static/lib/js/indent-fold.min.js"></script> -->
</body>

</html>
